.menu {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    font-size: smaller;
    font-family: sans-serif;
    font-weight: 400;
    color: #FFFFF0;
    padding: 5px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami {
    border-radius: 20px;
    background-color: #FFFFFF;

    width: 310px;
    font-family: cursive;

    margin: 25px;
    padding: 30px;

}


body {
    margin: 0px;
    background-color: #f7f2f2;

}